<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Deylee</string>
	<key>CFBundleExecutable</key>
	<string>Deylee</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>me.faizraza.deylee</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Deylee</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.67518619707-lvkjelp7t5mhvci33ki588679rcios86</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>DeyleeAPIBaseURL</key>
	<string>https://api.faizraza.me</string>
	<key>DeyleeGoogleClientID</key>
	<string>67518619707-lvkjelp7t5mhvci33ki588679rcios86.apps.googleusercontent.com</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© Muhammad Faiz Raza</string>
	<key>SUPublicEDKey</key>
	<string>t71hx0rxbX4ZqXNff8u7wS9KLwvrMBeyAKphHh44Y30=</string>
</dict>
</plist>
